$primary-color: #40586F;
$success-color: #51CF66;
$warning-color: #FCC419;
$danger-color: #FF6B6B;
$info-color: #868E96;

$body-bg: #E9EEF3;

$sidebar-bg: #F8F9FB;
$navbar-bg: #F8F9FB;
$font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
